CONTRACT_SWAP_ROUTER_ADDRESS=0x10ED43C718714eb63d5aA57B78B54704E256024E
CONTRACT_RICI_TOKEN=0x96a938d3a91E864cc9F342b8b5CFCe06D0bC8Cea
CONTRACT_WETH_TOKEN=0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c

// mean 1 BNB, can be 0.1 or 0.001, 0 etc
AMOUNT_RICI_OUT_MIN=1

// mean 1 BNB, can be 0.1 or 0.001 etc
AMOUNT_BNB_IN=0.0001
GAS_IN_GWEI=6

BLOCKCHAIN_RPC=https://still-frosty-log.bsc.quiknode.pro/127cb465267f413422806771735c8e6ef28dc6f4/
BLOCKCHAIN_MNEMONIC='asthma elite library zebra giggle payment exit apart manual three divide absorb'
